body{
    background-color: #EEEEEE !important ;

}

div > div:first-child{
    background-color: #222831;
    box-shadow: 2px 2px 15px 7px rgba(0, 0, 0, 0.5);
    margin-top: 10%; 
    width: 600px; 
    color: #EEEEEE; 
    border-radius: 15px; 
    padding: 5px;
}

h1{
    
    padding-bottom: 10px;
}

a{
    text-decoration: none;
}

.card{
    width: 20rem
}

input[type="text"]{
    background-color: #FFEADD;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    
}